{
  "openapi": "3.1.0",
  "info": {
    "title": "benchgap API",
    "version": "1.1.0",
    "summary": "LLM benchmark scores, measured and estimated, as JSON.",
    "description": "Read-only API over the benchgap score database. Every resource is regenerated whenever the data is rebuilt and revalidated with an ETag; there is no authentication, no rate limit beyond the host's, and CORS is open. Scores are fractions in [0, 1]. Each score is either `measured` (taken from a public leaderboard) or `estimated` (predicted from the same model's measured scores: one calibrated benchmark, or several combined by a multivariate fit), and every estimate carries its cross-validated error and a confidence level.",
    "contact": {
      "url": "https://github.com/hollorol/benchgap"
    }
  },
  "externalDocs": {
    "description": "Human-readable documentation",
    "url": "https://benchgap.net/api"
  },
  "servers": [
    {
      "url": "https://benchgap.net/api/v1"
    }
  ],
  "paths": {
    "/index.json": {
      "get": {
        "summary": "API entry point",
        "description": "Build metadata, endpoint templates, confidence thresholds and capabilities.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "$ref": "#/components/schemas/Index"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/benchmarks.json": {
      "get": {
        "summary": "List benchmarks",
        "description": "All benchmark versions.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "benchmarks"
                      ],
                      "properties": {
                        "benchmarks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Benchmark"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/benchmarks/{name}/{version}.json": {
      "get": {
        "summary": "Get a benchmark",
        "description": "One benchmark version with all its scores, highest first.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "benchmark",
                        "scores"
                      ],
                      "properties": {
                        "benchmark": {
                          "$ref": "#/components/schemas/Benchmark"
                        },
                        "scores": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Score"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Benchmark name",
            "schema": {
              "type": "string"
            },
            "example": "terminal-bench-4"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Benchmark version",
            "schema": {
              "type": "string"
            },
            "example": "current"
          }
        ]
      }
    },
    "/models.json": {
      "get": {
        "summary": "List models",
        "description": "All models.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "models"
                      ],
                      "properties": {
                        "models": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Model"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/models/{slug}.json": {
      "get": {
        "summary": "Get a model",
        "description": "One model with all its scores.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "model",
                        "scores"
                      ],
                      "properties": {
                        "model": {
                          "$ref": "#/components/schemas/Model"
                        },
                        "scores": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Score"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Model slug",
            "schema": {
              "type": "string"
            },
            "example": "gpt-6-astra"
          }
        ]
      }
    },
    "/scores.json": {
      "get": {
        "summary": "List all scores",
        "description": "Every measured and estimated score.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "scores"
                      ],
                      "properties": {
                        "scores": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Score"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/scores.csv": {
      "get": {
        "summary": "All scores as CSV",
        "description": "The scores list flattened to CSV; columns: model, model_name, provider, benchmark, benchmark_label, capability, score, source, confidence, error_pp, extrapolated, method, inputs.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/mappings.json": {
      "get": {
        "summary": "List calibrations",
        "description": "The selected fitted mapping for every calibrated benchmark pair, lowest cross-validated error first.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "mappings"
                      ],
                      "properties": {
                        "mappings": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Mapping"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/mappings/{id}.json": {
      "get": {
        "summary": "Get a calibration",
        "description": "One mapping with its training points, sampled curve and the estimates it produced, highest first.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "mapping",
                        "estimates"
                      ],
                      "properties": {
                        "mapping": {
                          "$ref": "#/components/schemas/MappingDetail"
                        },
                        "estimates": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Score"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Mapping id (from mappings.json)",
            "schema": {
              "type": "string"
            },
            "example": "30"
          }
        ]
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This specification",
        "description": "The OpenAPI 3.1 description of the API.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/harness-tax.json": {
      "get": {
        "summary": "The harness-tax analysis",
        "description": "How much the same benchmark's measured scores disagree across harnesses and run protocols: families, every pair with its metrics, aggregates by tier/capability and the audit queue. Measured scores only; never used for estimates.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "families",
                        "pairs",
                        "aggregates",
                        "audit"
                      ],
                      "properties": {
                        "measured_only": {
                          "type": "boolean"
                        },
                        "families": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HarnessFamily"
                          }
                        },
                        "pairs": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HarnessPair"
                          }
                        },
                        "aggregates": {
                          "type": "object",
                          "description": "Pooled mean |delta| by tier, capability and family, plus the verified-only headline set and its agentic vs tool-free ratio."
                        },
                        "audit": {
                          "type": "object",
                          "properties": {
                            "outliers": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/HarnessDelta"
                              },
                              "description": "Per-model deltas beyond 20 pp."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    },
    "/harness-tax/{family_id}.json": {
      "get": {
        "summary": "Get one harness-tax family",
        "description": "One family's pairs with every per-model delta and its provenance (both scores' retrieval dates; source URLs on the pair's versions).",
        "parameters": [
          {
            "name": "family_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Family identifier, e.g. terminal-bench-2-1."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/About"
                    },
                    {
                      "type": "object",
                      "required": [
                        "family",
                        "pairs"
                      ],
                      "properties": {
                        "measured_only": {
                          "type": "boolean"
                        },
                        "family": {
                          "$ref": "#/components/schemas/HarnessFamily"
                        },
                        "pairs": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HarnessPairDetail"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such resource"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "About": {
        "type": "object",
        "description": "Present on every JSON document.",
        "required": [
          "api_version",
          "generated_at"
        ],
        "properties": {
          "api_version": {
            "type": "string",
            "example": "v1"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "data_retrieved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "harnesses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "counts": {
            "type": "object",
            "description": "Sizes of the data set behind this build.",
            "properties": {
              "models": {
                "type": "integer",
                "description": "Listed models."
              },
              "benchmarks": {
                "type": "integer",
                "description": "Listed benchmarks."
              },
              "measured": {
                "type": "integer",
                "description": "Measured scores on listed benchmarks."
              },
              "estimated": {
                "type": "integer",
                "description": "Estimated scores."
              },
              "mappings": {
                "type": "integer",
                "description": "Calibrations (univariate, within one capability), as in mappings.json."
              },
              "cross_mappings": {
                "type": "integer",
                "description": "Fits between benchmarks of different capabilities, compared on the site but never used for estimates."
              },
              "cross_multi_mappings": {
                "type": "integer",
                "description": "Multivariate fits (one benchmark from several others)."
              },
              "confidence": {
                "type": "object",
                "description": "Estimated scores by confidence level.",
                "properties": {
                  "high": {
                    "type": "integer"
                  },
                  "medium": {
                    "type": "integer"
                  },
                  "low": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "Benchmark": {
        "type": "object",
        "required": [
          "key",
          "name",
          "version",
          "label",
          "capability"
        ],
        "properties": {
          "key": {
            "type": "string",
            "example": "terminal-bench-4/current",
            "description": "Stable identifier: name/version."
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "example": "Terminal-Bench 4.0"
          },
          "capability": {
            "type": "string",
            "example": "agentic-terminal",
            "description": "Benchmarks are only calibrated within a capability."
          },
          "harness": {
            "type": "string"
          },
          "source_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "n_measured": {
            "type": "integer"
          },
          "n_estimated": {
            "type": "integer"
          },
          "listed": {
            "type": "boolean",
            "description": "Whether the site lists the benchmark: it has at least one estimate and at least 10 models, measured or estimated."
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "page": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Model": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "provider"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "example": "gpt-6-astra"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "openai"
          },
          "provider_name": {
            "type": "string",
            "example": "OpenAI"
          },
          "n_measured": {
            "type": "integer"
          },
          "n_estimated": {
            "type": "integer"
          },
          "listed": {
            "type": "boolean",
            "description": "Whether the site lists the model: it has a score on a listed benchmark. Its counts are of listed benchmarks."
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "page": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Score": {
        "type": "object",
        "required": [
          "model",
          "benchmark",
          "score",
          "source",
          "estimate"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model slug."
          },
          "benchmark": {
            "type": "string",
            "description": "Benchmark key."
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Fraction in [0, 1]; multiply by 100 for percent."
          },
          "source": {
            "type": "string",
            "enum": [
              "measured",
              "estimated"
            ]
          },
          "estimate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Estimate"
              }
            ],
            "description": "null for measured scores."
          }
        }
      },
      "Estimate": {
        "type": "object",
        "required": [
          "confidence",
          "error_pp",
          "reasons",
          "extrapolated",
          "method",
          "method_name",
          "kind",
          "mapping_id",
          "inputs"
        ],
        "properties": {
          "confidence": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low"
            ]
          },
          "error_pp": {
            "type": "number",
            "description": "Leave-one-out cross-validated RMSE of the fit that made the estimate, percentage points."
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Why the confidence is not high (empty when it is)."
          },
          "extrapolated": {
            "type": "boolean",
            "description": "An input lies outside the range the fit was trained on."
          },
          "method": {
            "type": "string",
            "example": "mm_offset",
            "description": "Fitted curve. Univariate: `linear`, `mm`, `mm_offset`, `mm_offset_inv`, `hill`, `logistic`. Multivariate: `linear_mv`, `mm_mv`, `enet_mv`. New methods may be added; `method_name` is the readable name."
          },
          "method_name": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "univariate",
              "multivariate"
            ],
            "description": "`univariate`: from one source benchmark through a calibration (`mapping_id`). `multivariate`: from several source benchmarks combined; these fits are not served by v1, so `mapping_id` is null."
          },
          "mapping_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The calibration used (resolve with `mappings/{id}.json`); null for multivariate estimates."
          },
          "inputs": {
            "type": "array",
            "description": "The model's measured scores the estimate was computed from: one for univariate, several for multivariate.",
            "items": {
              "type": "object",
              "properties": {
                "benchmark": {
                  "type": "string",
                  "description": "Benchmark key."
                },
                "score": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1
                }
              },
              "required": [
                "benchmark",
                "score"
              ]
            }
          }
        }
      },
      "Mapping": {
        "type": "object",
        "required": [
          "id",
          "from",
          "to",
          "method"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "from": {
            "type": "string",
            "description": "Source benchmark key."
          },
          "to": {
            "type": "string",
            "description": "Target benchmark key."
          },
          "method": {
            "type": "string",
            "description": "Selected curve: `linear`, `mm`, `mm_offset`, `mm_offset_inv`, `hill` or `logistic` (more may be added)."
          },
          "method_name": {
            "type": "string"
          },
          "equation": {
            "type": "string",
            "description": "Fitted curve, x and y as fractions."
          },
          "n_models": {
            "type": "integer"
          },
          "r2": {
            "type": "number"
          },
          "rmse_pp": {
            "type": "number"
          },
          "loo_rmse_pp": {
            "type": "number"
          },
          "train_range": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "description": "[min, max] of source scores it was fitted on."
          },
          "n_estimates": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "page": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "MappingDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Mapping"
          },
          {
            "type": "object",
            "properties": {
              "points": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string"
                    },
                    "x": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "y": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  }
                }
              },
              "curve": {
                "type": "array",
                "description": "Sampled fitted curve as [x, y] pairs.",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  },
                  "minItems": 2,
                  "maxItems": 2
                }
              }
            }
          }
        ]
      },
      "HarnessFamily": {
        "type": "object",
        "required": [
          "family_id",
          "label",
          "capability",
          "same_item_set",
          "status",
          "versions"
        ],
        "properties": {
          "family_id": {
            "type": "string",
            "description": "Stable family identifier, e.g. terminal-bench-2-1."
          },
          "label": {
            "type": "string"
          },
          "capability": {
            "type": "string"
          },
          "tier": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "agentic",
              "knowledge_tool_free",
              "protocol_layer",
              null
            ],
            "description": "agentic: tool/scaffold-dependent; knowledge_tool_free: no tool layer; protocol_layer: within-harness protocol variants."
          },
          "same_item_set": {
            "type": "string",
            "enum": [
              "verified",
              "needs_audit",
              "weak_alignment"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "candidate"
            ],
            "description": "candidate: auto-detected or awaiting item-set review; excluded from headline aggregates."
          },
          "pair_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "audit_note": {
            "type": [
              "string",
              "null"
            ]
          },
          "origin": {
            "type": "string",
            "enum": [
              "seed",
              "auto"
            ]
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "harness": {
                  "type": "string"
                },
                "n": {
                  "type": "integer",
                  "description": "Measured models on this version."
                }
              }
            }
          },
          "url": {
            "type": "string"
          }
        }
      },
      "HarnessPair": {
        "type": "object",
        "required": [
          "family_id",
          "pair_type",
          "n_models",
          "a",
          "b"
        ],
        "properties": {
          "family_id": {
            "type": "string"
          },
          "tier": {
            "type": [
              "string",
              "null"
            ]
          },
          "capability": {
            "type": "string"
          },
          "pair_type": {
            "type": "string",
            "enum": [
              "cross_harness",
              "protocol_variant"
            ]
          },
          "same_item_set": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "low_overlap": {
            "type": "boolean",
            "description": "Fewer than 5 shared models: shown greyed, out of aggregates."
          },
          "a": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "harness": {
                "type": "string"
              },
              "source_url": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "description": "First-listed version; delta sign is a minus b."
          },
          "b": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "harness": {
                "type": "string"
              },
              "source_url": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "n_models": {
            "type": "integer",
            "description": "Models measured on both versions."
          },
          "mean_abs_pp": {
            "type": [
              "number",
              "null"
            ]
          },
          "median_abs_pp": {
            "type": [
              "number",
              "null"
            ]
          },
          "max_abs_pp": {
            "type": [
              "number",
              "null"
            ]
          },
          "share_gt_5pp": {
            "type": [
              "number",
              "null"
            ]
          },
          "share_gt_10pp": {
            "type": [
              "number",
              "null"
            ]
          },
          "kendall_tau": {
            "type": [
              "number",
              "null"
            ],
            "description": "Kendall tau-b of the two harnesses' score vectors."
          },
          "n_rank_flips": {
            "type": "integer"
          },
          "n_positive": {
            "type": "integer"
          },
          "n_negative": {
            "type": "integer"
          },
          "sign_test_p": {
            "type": [
              "number",
              "null"
            ],
            "description": "Two-sided exact binomial sign test against p = 0.5."
          },
          "directionality": {
            "type": [
              "number",
              "null"
            ],
            "description": "Fraction agreeing with the dominant sign; >= 0.9 is systematic bias."
          }
        }
      },
      "HarnessDelta": {
        "type": "object",
        "required": [
          "model",
          "score_a",
          "score_b",
          "delta_pp"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model slug."
          },
          "name": {
            "type": "string"
          },
          "score_a": {
            "type": "number"
          },
          "score_b": {
            "type": "number"
          },
          "delta_pp": {
            "type": "number",
            "description": "(score_a - score_b) * 100."
          },
          "retrieved_a": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the a-side score was retrieved."
          },
          "retrieved_b": {
            "type": [
              "string",
              "null"
            ]
          },
          "family_id": {
            "type": "string",
            "description": "Audit queue entries only."
          },
          "a": {
            "type": "object",
            "description": "Audit queue entries only: the version score_a belongs to."
          },
          "b": {
            "type": "object"
          }
        }
      },
      "HarnessPairDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HarnessPair"
          },
          {
            "type": "object",
            "properties": {
              "deltas": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HarnessDelta"
                }
              }
            }
          }
        ]
      },
      "Index": {
        "type": "object",
        "required": [
          "endpoints",
          "capabilities"
        ],
        "properties": {
          "documentation": {
            "type": "string",
            "format": "uri",
            "description": "Human-readable API page."
          },
          "openapi": {
            "type": "string",
            "format": "uri"
          },
          "source_code": {
            "type": "string",
            "format": "uri"
          },
          "data_notice": {
            "type": "string",
            "description": "Where the measured scores come from and their license."
          },
          "endpoints": {
            "type": "object",
            "description": "Endpoint templates relative to the base URL, by name.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "benchmark": "benchmarks/{name}/{version}.json"
            }
          },
          "confidence_levels": {
            "type": "object",
            "description": "Thresholds behind each estimate's `confidence`: the LOO error sets the level, then extrapolation, a small sample and a low R² each lower it one step.",
            "properties": {
              "high_max_pp": {
                "type": "number",
                "description": "High: LOO error at most this, percentage points."
              },
              "medium_max_pp": {
                "type": "number",
                "description": "Medium: LOO error at most this, percentage points."
              },
              "min_reliable_n": {
                "type": "integer",
                "description": "Fits on fewer models drop one level."
              },
              "min_informative_r2": {
                "type": "number",
                "description": "Fits with a lower R² drop one level."
              }
            }
          },
          "quality_gate": {
            "type": "object",
            "description": "What a fit must pass to be used.",
            "properties": {
              "min_pairs": {
                "type": "integer",
                "description": "Models with both scores."
              },
              "min_r2": {
                "type": "number"
              },
              "max_loo_pp": {
                "type": "number",
                "description": "Largest LOO error, percentage points."
              },
              "n_candidates": {
                "type": "integer",
                "description": "Curves tried per pair; the lowest LOO error wins."
              }
            }
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "label"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}